.section-header{
    font-size: 22px;
    font-weight: 600;
    color: rgb(86, 82, 82);
    margin: 20px 0;
  }
  ::ng-deep .mat-card-section-style{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    }
    .sectional-heading{
        padding: 15px 20px;
        border-bottom: 1px solid rgb(162, 230, 245);
        color: rgb(50, 151, 201);
        font-size: 17px;
        font-weight: 500;
        background-color: rgb(237, 243, 246);
      }
      ::ng-deep .sectional-heading{
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      }

      .baskets-container{
          padding: 20px;
      }
      .demo-table {
        width: 100%;
      }
      
      .mat-column-business {
        width: 60%;
        padding-right: 24px;
        /* font-size: 20px; */

      }
      
      .mat-column-net {
        padding-left: 16px;
        /* font-size: 20px; */
        width: 40%;
        border-left: 1px solid rgb(190, 185, 185);

      }
      
      .demo-table th{
        font-size: 15px;
        font-weight: 600;
      }