<div class="container">

    <div class="baskets-container">
        <div class="section-header">
            Baskets
        </div>
        <div >
            <mat-card class="sectional-heading">
                Annuity </mat-card>
            <mat-card class="mat-card-section-style">

                <mat-card-content class="mat-card-content-section-style">
                
                      
                      
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>