<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .example-container {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    /* border: 1px solid #555; */
  }


  .example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: center;
  }

  .side-nav-style {
    width: 240px;
    background-color: rgb(59, 88, 255);
    padding: 15px;
    color: white;
  }

  .app-name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .side-nav-buttons {
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: rgb(240, 231, 231);
    cursor: pointer;
    justify-content: flex-start;

  }


  /* .side-nav-buttons:hover {
    background-color: rgb(77, 77, 157);
  } */

  .application-header {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .Application-sector-heading {
    /* padding: 10px 0; */
    border-top: 1px solid rgb(190, 185, 185);
    border-bottom: 1px solid rgb(190, 185, 185);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    text-align: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  .header-icon-style {

    font-size: 13px;
    line-height: 22px;
  }

  .section-header {
    color: rgb(197, 200, 203);
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
  }

  .nav-icons {
    font-size: 14px;
    line-height: 22px;
  }

  .toolbar-styles {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
  }
  ::ng-deep .toolbar-content{
border-bottom-left-radius: 0px !important;
border-bottom-right-radius: 0px !important;
}
  .toolbar-content {
    display: flex;
    justify-content: flex-end;
    height: 30px;
  }

  .toolbar-content span {
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu-content {
    position: absolute;
    top: 60px;
    width: 100%;
  }
  .inner-container{
    display: block;
    overflow: hidden;
  }
  .profile-card{
margin-left: 5px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
  }
  .profile-block{
    display: flex;
    align-items: center;
  }
  .profile-styles{
    font-size: 25px;
  }
</style>
<div>

  <div class="main-container">
    
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" class="side-nav-style" opened="showFiller" *ngIf="!showFiller">
        <div class="application-header">
          New York Life
        </div>
        <div class="Application-sector-heading">
          <mat-icon class="header-icon-style">extension</mat-icon>
          <span>
            Investment yeild Basket
          </span>
        </div>
        <div class="section-header">
          Interface
        </div>
        <div class="side-nav-buttons" routerLink="/data-contribution">
          <mat-icon class="nav-icons">settings</mat-icon>
          <span>
            Data Contributors
          </span>
        </div>
        <div class="side-nav-buttons" routerLink="/baskets">
          <mat-icon class="nav-icons">build</mat-icon>
          <span>
            Baskets
          </span>
        </div>
      </mat-drawer>
      <mat-drawer-content class="inner-container">
        <div class="toolbar-styles">
          <mat-card class="toolbar-content">
            <div class="profile-block">
              
              <span>Leena</span>
              <div class="profile-card">
                <mat-icon class="profile-styles">account_circle</mat-icon>
              </div>
    
    
            </div>
          </mat-card>
        </div>
        <div class="menu-content">
          <router-outlet></router-outlet>

        </div>


      </mat-drawer-content>
    </mat-drawer-container>



  </div>
</div>